.main-about-section {
    display: flex;
    gap: 5em;
    background-color: rgba(124, 241, 241, 0.158);
    align-items: flex-start;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-right: 0.6em;
}

.main-about-content {
    display: flex;
    flex-direction: column;
}

.main-about-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.about-underline {
    width: 11em;
    height: 0.25em;
	background-color: rgb(84, 147, 209);
}
.main-about-content-title h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.9em;
    padding-bottom: 0.1em;
}

.main-about-content-text {
    padding: 0.5em 0.75em;
    margin: 0.5em 1em;
}

.main-about-content-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.12em;
    color: rgb(1, 123, 123);
    letter-spacing: 1px;
    line-height: 1.7em;
}

.hero-img-about {
    padding-top: 9em;
    margin-left: 4em;
}

.main-about-content-skills {
    margin : 1em 1.5em;
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 312px;
    row-gap: 0.8em;
    margin-bottom: 1.5em;
}

.about-skill {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 355px;
    background-color: rgba(128, 128, 128, 0.135);
    padding: 0.5em 0.25em;
    gap: 0.8em;
    color: rgb(1, 123, 123);
}

.about-skill p {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 600; */
    font-size: 1.2em;
    letter-spacing: 1px;
}

.main-education-section {
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.education-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    letter-spacing: 2px;
    color: rgb(3, 3, 79);
    text-align: center;
}

.center-education {
    margin-top: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    flex-direction: column;
}

.single-education {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2.5em 2em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 950px;
    background-color: rgba(150, 207, 229, 0.158);
}

.single-education h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: rgb(1, 91, 91);
    font-size: 1.55em;
}

.education-name-div {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin-bottom: 0.1em;
}

.education-degree-div {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 0.5em;
}

.education-degree-div h4 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    margin: 1em 0.2em;
    padding: 0.25em 1em;
    color: rgb(1, 123, 123);
    background-color: rgba(128, 128, 128, 0.135);
    font-size: 1.05em;
    border-radius: 15px;
}

.desc-edu {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    flex-direction: column;
    margin: 0.5em 1.2em;
}

.desc-edu p {
    color: rgb(1, 91, 91);
    font-size: 1.15em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 0.4em 0em;
    letter-spacing: 0.65px;
}

.single-desc-edu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.edu-button-section {  
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
    margin-bottom: 2.5em;
}

.edu-button-section button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 8px 9px;
}


.edu-button-section button:active {
    background-color: #98ccf7;
    transition: background 0s;
    border-radius: 50%;
}


/* resp  */

@media only screen and (max-width:1300px) {
    .main-about-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }
    .hero-img-about {
        padding-top: 3em;
        margin-right: 5em;
    }
    .main-about-content-title h2 {
        font-size: 2.2em;
    }
    .about-underline {
        width: 13em;
    }
    .main-about-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-about-content-skills {
        grid-template-columns: 100px 100px 100px;
        margin-left: -13.5em;
        padding-bottom: 1em;
    }
}

@media only screen and (max-width:1260px) {
    .main-about-content-skills {
       transform: scale(0.95);
    }
}

@media only screen and (max-width:1230px) {
    .main-about-content-skills {
       transform: scale(0.87);
    }
}

@media only screen and (max-width:1150px) {
    .main-about-content-skills {
        transform: scale(1);
        grid-template-columns: 100px 100px 
    }
}


@media only screen and (max-width:1100px) {
    .main-about-content-skills {
        grid-template-columns: 100px 100px 
    }
}

@media only screen and (max-width:1060px) {
    .main-about-content-skills {
        grid-template-columns: 100px 100px 
    }
}

@media only screen and (max-width:860px) {
    .main-about-content-skills {
        grid-template-columns: 90px 90px ;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 340px;
    }
    .hero-img-about { 
        width: 55%;
    }
}

@media only screen and (max-width:830px) {
    .main-about-content-skills {
        grid-template-columns: 80px 75px ;
        column-gap: 290px;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 330px;
    }
    .hero-img-about { 
        width: 50%;
    }
}

@media only screen and (max-width:800px) {
    .main-about-content-skills {
        grid-template-columns: 75px 60px ;
        column-gap: 270px;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 320px;
    }
}

@media only screen and (max-width:760px) {
    .main-about-content-skills {
        grid-template-columns: 60px 40px ;
        column-gap: 260px;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 280px;
    }
}

@media only screen and (max-width:730px) {
    .main-about-content-skills {
        grid-template-columns: 50px 35px ;
        column-gap: 260px;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 280px;
    }
}

@media only screen and (max-width:690px) {
    .main-about-content-skills {
        grid-template-columns: 50px 25px ;
        column-gap: 230px;
        align-items: center;
        justify-content: center;
    }
    .about-skill {
        width: 250px;
    }
    .hero-img-about { 
        width: 55%;
    }
}

@media only screen and (max-width:650px) {
    .main-about-content-skills {
        grid-template-columns: 40px 10px ;
        column-gap: 210px;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
    }
    .about-skill {
        width: 220px;
    }
}

@media only screen and (max-width:590px) {
    .main-about-content-skills {
        grid-template-columns: 40px 5px ;
        column-gap: 200px;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
    }
    .about-skill {
        width: 180px;
    }
    .about-skill p { 
        font-size: 1em;
    }
    .main-about-content-title h2{
        font-size: 1.8em;
    }
    .about-underline {
        width: 10em;
    }
}

@media only screen and (max-width:540px) {
    .main-about-content-skills {
        grid-template-columns: 40px 5px ;
        column-gap: 180px;
        align-items: center;
        justify-content: center;
        margin-right: -25px;
    }
    .about-skill {
        width: 180px;
    }
    .about-skill p { 
        font-size: 0.95em;
    }
}

@media only screen and (max-width:510px) {
    .main-about-content-skills {
        grid-template-columns: 40px 5px ;
        column-gap: 160px;
        align-items: center;
        justify-content: center;
        margin-right: -35px;
    }
    .about-skill {
        width: 160px;
    }
    .about-skill p { 
        font-size: 0.95em;
    }
    .main-about-content-text p {
        font-size: 1.05em;
    }
}

@media only screen and (max-width:470px) {
    .main-about-content-skills {
        grid-template-columns: 40px 5px ;
        column-gap: 140px;
        align-items: center;
        justify-content: center;
        margin-right: -55px;
    }
    .about-skill {
        width: 150px;
    }
    .about-skill p { 
        font-size: 0.9em;
    }
    .main-about-content-title h2{
        font-size: 1.7em;
    }
    .about-underline {
        width: 9em;
    }
    .hero-img-about { 
        width: 60%;
    }
}

@media only screen and (max-width:420px) {
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 130px;
        align-items: center;
        justify-content: center;
        margin-right: -75px;
    }
    .about-skill {
        width: 140px;
    }
    .about-skill p { 
        font-size: 0.87em;
    }
    .hero-img-about { 
        width: 65%;
    }
}

@media only screen and (max-width:370px) {
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 110px;
        align-items: center;
        justify-content: center;
        margin-right: -95px;
    }
    .about-skill {
        width: 135px;
    }
    .about-skill p { 
        font-size: 0.8em;
    }
    .main-about-content-title h2{
        font-size: 1.6em;
    }
    .about-underline {
        width: 8.5em;
    }
    .hero-img-about { 
        width: 70%;
    }
}

@media only screen and (max-width:330px) {
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 95px;
        align-items: center;
        justify-content: center;
        margin-right: -105px;
    }
    .about-skill {
        width: 120px;
    }
    .about-skill p { 
        font-size: 0.75em;
    }
    .hero-img-about { 
        width: 75%;
    }
}

@media only screen and (max-width:290px) {
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 85px;
        align-items: center;
        justify-content: center;
        margin-right: -120px;
    }
    .about-skill {
        width: 110px;
    }
    .about-skill p { 
        font-size: 0.65em;
    }
    .main-about-content-title h2{
        font-size: 1.45em;
    }
    .about-underline {
        width: 8em;
    }
}

@media only screen and (max-width:275px) {
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 78px;
        align-items: center;
        justify-content: center;
        margin-right: -130px;
    }
    .about-skill {
        width: 105px;
    }
    .about-skill p { 
        font-size: 0.6em;
    }
    .hero-img-about { 
        width: 80%;
    }
}

@media only screen and (max-width:260px) { 
    .main-about-content-skills {
        grid-template-columns: 40px 0px ;
        column-gap: 72px;
        align-items: center;
        justify-content: center;
        margin-right: -130px;
    }
    .about-skill {
        width: 100px;
    }
    .about-skill p { 
        font-size: 0.55em;
    }
}




