@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');


.contact-center {
	background-color: rgba(150, 207, 229, 0.158);
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
	border-radius: 15px;
	box-shadow: rgb(0, 0, 0) 1.2px 1.2px 1px 0px;
}

.contact-center h2 {
	color: rgba(3, 3, 58, 0.868);
	/* color: white; */
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 1.4px;
	font-size: 2em;
}


.contact-center-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding-top: 0.85em;
	padding-left: 1.75em;
}
.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
}

.star-icon {
	cursor: pointer;
}

.star-icon:hover {
	transform: rotateZ(144deg) scale(1.4);
	transition: 0.5s ease-in-out;
}

.form-input {
	width: 400px;
	border: 0.2px solid grey;
	height: 2em;
	border-radius: 10px;
	padding: 0.5em 0.75em;
	font-family: 'Ruda', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}

.form-textarea {
	width: 400px;
	border: 0.5px solid grey;
	height: 120px;
	border-radius: 10px;
	padding: 0.5em 0.75em;
	font-family: 'Ruda', sans-serif;
	font-size: 1.1em;
	resize: none;
}

.form-submit-button {
	background-color: #fafa0e;
    padding: 0.65em 1.2em;
    margin-top: 1.5em;
    border: 0.4px transparent;
    font-size: 0.9em;
    border-radius: 2%;
    cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
	margin-bottom: 2em;
	font-weight: 500;
	text-transform:uppercase;
	letter-spacing: 1px;
}

.form-submit-button:hover {
    background-color: black;
    transition: 0.5s ease;
	color: #fafa0e;
}