@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');


.contact-center {
	background-color: rgba(150, 207, 229, 0.158);
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	border-radius: 15px;
	box-shadow: rgb(0, 0, 0) 1.2px 1.2px 1px 0px;
}

.contact-center h2 {
	color: rgba(3, 3, 58, 0.868);
	/* color: white; */
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
	font-size: 1.9em;
}


.contact-center-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding-top: 0.85em;
	padding-left: 1.75em;
}
.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
}

.star-icon {
	cursor: pointer;
}

.star-icon:hover {
	transform: rotateZ(144deg) scale(1.4);
	transition: 0.5s ease-in-out;
}

.form-input {
	width: 400px;
	border: 0.2px solid grey;
	height: 2em;
	border-radius: 10px;
	padding: 0.5em 0.75em;
	font-family: 'Ruda', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}

.form-textarea {
	width: 400px;
	border: 0.5px solid grey;
	height: 120px;
	border-radius: 10px;
	padding: 0.5em 0.75em;
	font-family: 'Ruda', sans-serif;
	font-size: 1.1em;
	resize: none;
}

.form-submit-button {
	background-color: #fafa0e;
    padding: 0.65em 1.2em;
    margin-top: 1.5em;
    border: 0.4px transparent;
    font-size: 0.9em;
    border-radius: 2%;
    cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
	margin-bottom: 2em;
	font-weight: 500;
	text-transform:uppercase;
	letter-spacing: 1px;
}

.form-submit-button:hover {
    background-color: black;
    transition: 0.5s ease;
	color: #fafa0e;
}



/* resp  below */

@media only screen and (max-width: 600px) {
	.contact-center {
		transform: scale(0.9);
	}
}

@media only screen and (max-width: 550px) {
	.contact-center {
		transform: scale(0.82);
		margin-right: 0.7em;
		margin-left: -0.7em;
	}
}

@media only screen and (max-width: 520px) {
	.contact-center {
		transform: scale(0.75);
		margin-right: 1em;
		margin-left: -1em;
	}
}

@media only screen and (max-width: 490px) {
	.contact-center {
		transform: scale(0.7);
		margin-right: 1.5em;
		margin-left: -2.5em;
	}
}

@media only screen and (max-width: 455px) {
	.contact-center {
		transform: scale(0.68);
		margin-right: 1.5em;
		margin-left: -4em;
	}
}

@media only screen and (max-width: 420px) {
	.contact-center {
		transform: scale(0.67);
		margin-right: 1.5em;
		margin-left: -4.5em;
	}
}

@media only screen and (max-width: 405px) {
	.contact-center {
		transform: scale(0.65);
		margin-right: 1.5em;
		margin-left: -5em;
	}
}

@media only screen and (max-width: 395px) {
	.contact-center {
		transform: scale(0.62);
		margin-right: 1.5em;
		margin-left: -5.5em;
	}
}

@media only screen and (max-width: 378px) {
	.contact-center {
		transform: scale(0.6);
		margin-right: 1.5em;
		margin-left: -6em;
	}
}

@media only screen and (max-width: 365px) {
	.contact-center {
		transform: scale(0.58);
		margin-right: 1.5em;
		margin-left: -6.5em;
	}
}


@media only screen and (max-width: 350px) {
	.contact-center {
		transform: scale(0.55);
		margin-right: 1.5em;
		margin-left: -7em;
	}
}

@media only screen and (max-width: 335px) {
	.contact-center {
		transform: scale(0.52);
		margin-right: 1.5em;
		margin-left: -7.8em;
	}
}

@media only screen and (max-width: 315px) {
	.contact-center {
		transform: scale(0.5);
		margin-right: 1.5em;
		margin-left: -8em;
	}
}

@media only screen and (max-width: 305px) {
	.contact-center {
		transform: scale(0.48);
		margin-right: 1.5em;
		margin-left: -8.2em;
	}
}

@media only screen and (max-width: 295px) {
	.contact-center {
		transform: scale(0.45);
		margin-right: 1.5em;
		margin-left: -8.75em;
	}
}

@media only screen and (max-width: 275px) {
	.contact-center {
		transform: scale(0.43);
		margin-right: 1.5em;
		margin-left: -9.1em;
	}
}

@media only screen and (max-width: 265px) {
	.contact-center {
		transform: scale(0.4);
		margin-right: 1.5em;
		margin-left: -9.5em;
	}
}

@media only screen and (max-width: 250px) {
	.contact-center {
		transform: scale(0.38);
		margin-right: 1.5em;
		margin-left: -10em;
	}
}

@media only screen and (max-width: 238px) {
	.contact-center {
		transform: scale(0.35);
		margin-right: 1.5em;
		margin-left: -10.3em;
	}
}

@media only screen and (max-width: 225px) {
	.contact-center {
		transform: scale(0.33);
		margin-right: 1.5em;
		margin-left: -10.8em;
	}
}

@media only screen and (max-width: 210px) {
	.contact-center {
		transform: scale(0.325);
		margin-right: 1.5em;
		margin-left: -11em;
	}
}




