@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');


.main-section {
    display: flex;
    gap: 5em;
    background-color: rgba(124, 241, 241, 0.158);
    align-items: center;
    justify-content: center;
    padding-top: 6em;
}

.hero-img {
    width: 36%;
}
.intro {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
}
.title p {
    font-size: 1.2em;
    color: rgb(1, 123, 123);
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    /* font-style: italic; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
}
.resume-section {
    display: flex;
}
.resume-dl-button {
    background-color: #fafa0e;
    padding: 0.65em 1.2em;
    margin-top: 1.75em;
    border: 0.4px transparent;
    font-size: 0.9em;
    border-radius: 2%;
    cursor: pointer;
    
}

.resume-dl-button:hover {
    background-color: black;
    transition: 0.5s ease;
}
.resume-dl-button:hover a{
    color: #fafa0e;
    transition: 0.2s ease;
}


.resume-dl-button a {
    display: flex;
    gap: 1em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;  
    color: black; 
    letter-spacing: 1.5px;
}





.main-page-links {
    margin-top: 2.5em;
    display: flex;
    gap: 1.75em;
    padding-top: 0.7em;
}

.main-page-link-icon {
    padding: 0em 0.3em;
    cursor: pointer;
}

.main-page-link-icon:hover {
    transform: scale(1.3);
    transition: 0.35s ease-in-out;
}

.la {
    color: rgb(47, 47, 198);
}

.gb {
    color: black;
}
.leet {
    color: rgb(64, 64, 2);
}
.gfg  {
    color: green;
}


.main-experience-section {
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    letter-spacing: 2px;
    color: rgb(3, 3, 79);
    text-align: center;
}

.company-names {
    display: flex;
	flex-direction: column;
	gap: 0.75em;
}