@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.main-section {
    display: flex;
    gap: 5em;
    background-color: rgba(124, 241, 241, 0.158);
    align-items: center;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 1.2em;
}

.hero-img {
    width: 36%;
}
.intro {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 0.75em;
}

.intro-title h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: rgb(3, 3, 79);
    font-size: 2.4rem;
}
.intro-title p {
    font-size: 1.2em;
    color: rgb(1, 123, 123);
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    /* font-style: italic; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
}
.resume-section {
    display: flex;
}
.resume-dl-button {
    background-color: #fafa0e;
    padding: 0.65em 1.2em;
    margin-top: 1.75em;
    border: 0.4px transparent;
    font-size: 0.9em;
    border-radius: 2%;
    cursor: pointer;
    
}

.resume-dl-button:hover {
    background-color: black;
    transition: 0.5s ease;
}
.resume-dl-button:hover a{
    color: #fafa0e;
    transition: 0.2s ease;
}


.resume-dl-button a {
    display: flex;
    gap: 1em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;  
    color: black; 
    letter-spacing: 1.5px;
}





.main-page-links {
    margin-top: 2.5em;
    display: flex;
    gap: 1.75em;
    padding-top: 0.7em;
}

.main-page-link-icon {
    padding: 0em 0.3em;
    cursor: pointer;
}

.main-page-link-icon:hover {
    transform: scale(1.3);
    transition: 0.35s ease-in-out;
}

.la {
    color: rgb(47, 47, 198);
}

.gb {
    color: black;
}
.leet {
    color: rgb(64, 64, 2);
}
.gfg  {
    color: green;
}


.main-experience-section {
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experience-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    letter-spacing: 2px;
    color: rgb(3, 3, 79);
    text-align: center;
}

.center-experience {
    margin-top: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    flex-direction: column;
}

.single-experience {
    background-color: rgba(150, 207, 229, 0.158);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2.5em 1.75em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 1150px;
}

.single-experience h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: rgb(1, 91, 91);
    font-size: 1.55em;
}


.exp-name-div {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin-bottom: 0.15em;
}


.exp-title-div {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 0.5em;
    margin: 0.9em 0.2em;
}

.exp-title-div h4 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    padding: 0.25em 1em;
    color: rgb(1, 123, 123);
    background-color: rgba(128, 128, 128, 0.135);
    font-size: 1.05em;
    border-radius: 15px;
}

.single-experience p {
    color: rgb(1, 91, 91);
    font-size: 1.15em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 0.65em 0em;
    letter-spacing: 0.3px;
}

.exp-button-section {  
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
    margin-bottom: 2.5em;
}

.exp-button-section button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 8px 9px;
}


.exp-button-section button:active {
    background-color: #98ccf7;
    transition: background 0s;
    border-radius: 50%;
}

.desc-item {
    display: flex;
    align-items: center;
    gap: 2em;
}

.exp-underline {
    width: 11em;
    height: 0.25rem;
	background-color: rgb(84, 147, 209);
}


/* responsivensss code below */

/* 1150 */
/* 1.15
1.55 */
@media only screen and (max-width: 1220px) {
    .single-experience {
        width: 1050px;
    }
    .intro-title h1 {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 1150px) {
    .single-experience {
        width: 950px;
    }
    .intro-title h1 {
        font-size: 1.95em;
    }
}

@media only screen and (max-width: 1050px) {
    .single-experience {
        width: 850px;
    }
    .single-experience h2 {
        font-size: 1.4em;
    }
    .single-experience p {
        font-size: 1.05em;
    }
}

@media only screen and (max-width: 1000px) {
    .intro-title h1 {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 950px) {
    .single-experience {
        width: 720px;
    }
    .single-experience h2 {
        font-size: 1.3em;
    }
    .single-experience p {
        font-size: 1em;
    }
}


@media only screen and (max-width: 830px) {
    .single-experience {
        width: 630px;
    }
    .single-experience h2 {
        font-size: 1.2em;
    }
    .single-experience p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 750px) {
    .single-experience {
        width: 550px;
    }
    .single-experience h2 {
        font-size: 1.25em;
    }
    .single-experience p {
        font-size: 1em;
    }
    .exp-title-div h4 {
        font-size: 0.9em
    }
}

@media only screen and (max-width: 660px) {
    .single-experience {
        width: 500px;
    }
    .single-experience h2 {
        font-size: 1.25em;
    }
    .single-experience p {
        font-size: 1em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.9em
    }
}

@media only screen and (max-width: 620px) {
    .single-experience {
        width: 450px;
    }
    .single-experience h2 {
        font-size: 1.2em;
    }
    .single-experience p {
        font-size: 1em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.85em
    }
}

@media only screen and (max-width: 560px) {
    .single-experience {
        width: 390px;
    }
    .single-experience h2 {
        font-size: 1.2em;
    }
    .single-experience p {
        font-size: 1em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.85em
    }
    .exp-name-div h2{
        font-size: 1.1em;
    }
    .experience-title h2 {
        font-size: 1.2em;
    }
    .exp-underline {
        width: 9em;
    }
}

@media only screen and (max-width: 500px) {
    .single-experience {
        width: 340px;
    }
    .single-experience h2 {
        font-size: 1.1em;
    }
    .single-experience p {
        font-size: 0.95em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.8em
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
}

@media only screen and (max-width: 450px) {
    .single-experience {
        width: 300px;
    }
    .single-experience h2 {
        font-size: 1em;
    }
    .single-experience p {
        font-size: 0.9em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.75em
    }
    .exp-name-div {
        padding-left: 0.2em;
    }
    .exp-name-div h2{
        font-size: 1em;
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .experience-title h2 {
        font-size: 1.1em;
    }
    .exp-underline {
        width: 8em;
    }
}

@media only screen and (max-width: 410px) {
    .single-experience {
        width: 250px;
    }
    .single-experience h2 {
        font-size: 0.85em;
    }
    .single-experience p {
        font-size: 0.8em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.75em
    }
    .exp-name-div h2{
        font-size: 1.05em;
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .desc-item p {
        margin-left: -1em;
    }
    .experience-title h2 {
        font-size: 1em;
    }
    .exp-underline {
        width: 7em;
    }
}

@media only screen and (max-width: 350px) {
    .single-experience {
        width: 220px;
    }
    .single-experience h2 {
        font-size: 0.85em;
    }
    .single-experience p {
        font-size: 0.82em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.65em
    }
    .exp-name-div h2{
        font-size: 0.95em;
    }
    .exp-button-section {
        transform: scale(0.85);
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .desc-item p {
        margin-left: -1em;
    }
    .experience-title h2 {
        font-size: 0.9em;
    }
    .exp-underline {
        width: 6.5em;
    }
}

@media only screen and (max-width: 300px) {
    .single-experience {
        width: 200px;
    }
    .single-experience p {
        font-size: 0.82em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.65em
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .exp-name-div h2{
        font-size: 0.95em;
    }
    .exp-button-section {
        transform: scale(0.8);
    }
    .desc-item p {
        margin-left: -1em;
    }
}

@media only screen and (max-width: 290px) {
    .single-experience {
        width: 180px;
    }
    .single-experience p {
        font-size: 0.8em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.6em
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .exp-name-div h2{
        font-size: 0.9em;
    }
    .exp-button-section {
        transform: scale(0.7);
    }
    .desc-item p {
        margin-left: -1.5em;
    }
    .experience-title h2 {
        font-size: 0.8em;
    }
    .exp-underline {
        width: 6em;
    }
}

@media only screen and (max-width: 260px) {
    .single-experience {
        width: 150px;
    }
    .single-experience p {
        font-size: 0.7em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.5em
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .exp-name-div h2{
        font-size: 0.8em;
    }
    .exp-button-section {
        transform: scale(0.6);
    }
    .desc-item p {
        margin-left: -1.75em;
    }
    .experience-title h2 {
        font-size: 0.7em;
    }
    .exp-underline {
        width: 5em;
    }
}

@media only screen and (max-width: 230px) {
    .single-experience {
        width: 130px;
    }
    .single-experience p {
        font-size: 0.65em;
    }
    .exp-title-div {
        flex-direction: column;
        gap: 0.5em;
    }
    .exp-title-div h4 {
        font-size: 0.45em
    }
    .exp-name-div {
        flex-direction: column;
        gap: 0.1em;
    }
    .exp-name-div h2{
        font-size: 0.75em;
    }
    .exp-button-section {
        transform: scale(0.5);
    }
    .desc-item p {
        margin-left: -2em;
    }
    .experience-title h2 {
        font-size: 0.6em;
    }
    .exp-underline {
        width: 4.5em;
    }
}