@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 4.4em;
    box-shadow: rgb(28, 121, 184) 0px -3px 8px 0px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 1.05em;
    background: linear-gradient(120deg, rgb(28, 121, 184) 20%, #fff 20%);
}

.home-link {
    padding-top: 0.6em;
    padding-bottom: 1em;
    padding-left: 1.25em;
    padding-right: 1em;
    font-weight: 800;
    font-size: 1.3em;
    border-radius: 5%;
}

.home-link a {
    text-decoration: none;
    color: white;
}

.routes {
    display: flex;
    flex-direction: row;
    gap: 7em;
    padding-right: 3em;
    padding-top: 1.1em;
    padding-bottom: 1em;
}


.nav-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-links h1 {
    font-size: 1.45em;
    text-transform: capitalize;
}


.nav-links:hover {
    color: rgb(28, 121, 184);
    transform: scale(1.01);
    transition: all 0.3s ease;   
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(28, 121, 184);
    transition: width .75s;
}

.nav-links:hover::after {
    width: 100%;
}

.active-screen {
    color: rgb(28, 121, 184);
}

.nav-toggle {
    display: none;
}

.nav-container {
    height: auto !important
}

.routes a {
    margin: 0 0.6em; 
    text-decoration: none;
}


@media only screen and (max-width : 1080px){
    .main-nav {
        position: relative;
        background: linear-gradient(120deg, rgb(28, 121, 184) 28%, #fff 28%);
    }
    .home-link {
        display: flex;
		justify-content: space-between;
    }
    .nav-toggle {
        display: block;
        background-color: initial;
        border: none;
        color: #356eff;
        cursor: pointer;
        font-size: 2em;
        margin-right: 0.85em;
        margin-top: 0.15em;
    }
    .routes-container {
        position: absolute;
        height: 0;
		overflow: hidden;
		transition: all 0.3s linear;
		margin: 4.45em 0em;
        background-color: white;
        width: 100%;
        margin-left: -0.88em;
        padding-right: 0.9em;
    }
    .routes a{
        display: block;
		font-size: 0.82rem;
		letter-spacing: 1.5px;
		text-decoration: none;
		padding: 0.65rem 1.75rem;
    }
    .routes {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .nav-links::after {
        content: '';
        display: none;
        width: 0;
        transition: width .5s;
    }
}

@media only screen and (max-width:550px){
    .home-link h2{
        font-size: 1.35em;
    }
    .main-nav {
        position: relative;
        background: linear-gradient(120deg, rgb(28, 121, 184) 30%, #fff 30%);
    }
}

@media only screen and (max-width:400px){
    .home-link h2{
        font-size: 1.25em;
    }
    .main-nav {
        background: linear-gradient(120deg, rgb(28, 121, 184) 35%, #fff 35%);
    }
}

@media only screen and (max-width:320px){
    .home-link h2{
        font-size: 1.15em;
        padding-top: 0.3em;
    }
    .main-nav {
        background: linear-gradient(120deg, rgb(28, 121, 184) 40%, #fff 40%);
    }
}

@media only screen and (max-width:280px){
    .home-link h2{
        font-size: 1.05em;
        padding-top: 0.3em;
    }
    .main-nav {
        background: linear-gradient(120deg, rgb(28, 121, 184) 45%, #fff 45%);
    }
}

@media only screen and (max-width:240px){
    .main-nav {
        background: linear-gradient(120deg, rgb(28, 121, 184) 50%, #fff 50%);
    }
}

@media only screen and (max-width:200px){
    .main-nav {
        background: linear-gradient(120deg, rgb(28, 121, 184) 55%, #fff 55%);
    }
}