@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 4.2em;
    box-shadow: rgb(28, 121, 184) 0px -3px 8px 0px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 1.05em;
    background: linear-gradient(120deg, rgb(28, 121, 184) 15%, #fff 15%);
}

.home-link {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-decoration: none;
    color: white;
    padding-left: 1.25em;
    padding-right: 1em;
    font-weight: 800;
    font-size: 1.3em;
    border-radius: 5%;
}
.home-link:hover {
    transform: scale(1.08);
    transition: all 0.3s ease;
}
.routes {
    display: flex;
    flex-direction: row;
    gap: 7em;
    padding-right: 3em;
    padding-top: 1.1em;
    padding-bottom: 1em;
}

.nav-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-links h1 {
    font-size: 1.45em;
    text-transform: capitalize;
}


.nav-links:hover {
    color: rgb(28, 121, 184);
    transform: scale(1.05);
    transition: all 0.3s ease;
    
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(28, 121, 184);
    transition: width .45s;
}

.nav-links:hover::after {
    width: 100%;
}

.active-screen {
    color: rgb(28, 121, 184);
}

