.main-nav {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height:3em;
}
.routes {
    display: flex;
    flex-direction: row;
    gap: 9em;
    padding-right: 10em;
}
