.main-projects {
	position: relative;
	height: auto;
	min-height: 100vh;
}


.title {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 0.75em;
}

.title h1 {
	font-family: 'Inter', sans-serif;
	letter-spacing: 1px;
	color: rgb(3, 3, 79);
	font-size: 2.1rem;
}

.underline {
	height: 0.25rem;
	width: 21rem;
	background-color: rgb(84, 147, 209);
}

.personal-projects-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10em;
	gap: 15em;
	margin-top: 6em;	
}

.project-tags {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}
.single-tag {
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 1.25em;
	letter-spacing: 1.5px;
	cursor: pointer;
	height: 2.5rem;
	padding: 0.25em 1em;
}




.personal-projects-center {
	display: grid;
	column-gap: 50px;
	row-gap: 30px;
	grid-template-columns: auto auto auto;
}

.project-card {
	padding: 0.5em;
}

.tag-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.single-tag:hover {
	color: white;
	transition: all 0.2s linear;
	background-color: rgb(84, 147, 209);;
	border: 0.5px transparent rgba(128, 128, 128, 0.1);
	border-radius: 50px;
}

