@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.main-projects {
	position: relative;
	height: auto;
	min-height: 100vh;

}


.title {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 0.75em;
}

.title h1 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	color: rgb(3, 3, 79);
	font-size: 2.2rem;
}

.underline {
	height: 0.25rem;
	width: 25rem;
	background-color: rgb(84, 147, 209);
}

.personal-projects-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-left: 6em;
	gap: 10em;
	margin-top: 8em;
}

.project-tags {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

.project-tags h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}
.single-tag {
	text-align: center;
	background-color: transparent;
	font-size: 1.15em;
	letter-spacing: 1.5px;
	cursor: pointer;
	padding: 0.5em 0.5em;
	height: 2.7em;
	width: 200px;
	border:0.5px solid rgba(8, 110, 188, 0.594);
	border-radius: 50px;
}



.personal-projects-center {
	display: grid;
	column-gap: 60px;
	row-gap: 180px;
	grid-template-columns: auto auto auto;
	
}



.single-tag:hover {
	color: white;
	transition: all 0.2s linear;
	background-color: rgb(84, 147, 209);
	border: 0.5px transparent rgba(128, 128, 128, 0.1);
}

.project-card {
	background-color: transparent;
	width: 220px;
	height: 220px;
	border: 1px solid rgba(84, 147, 209, 0.206);
	perspective: 1000px; 
	border-radius: 50px;
}

.project-card p {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.projectImg {
	object-fit: contain;
	width: 100%;
	height: 100%;
	border-radius: 35px;
}

.project-card-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
	transform: rotateY(180deg);
}

.project-card-front, .project-card-back {
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility:hidden;
	z-index: 2;
}

.project-card-front {
	position: absolute;
}

.project-card-front h2{
	font-size: 1.1em;
	padding: 0.25em 0.25em;
	margin-top: 0.5em;
	font-family: 'Jost', sans-serif;
	letter-spacing: 1px;
	color: rgb(7, 77, 123);
}

.project-card-back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	transform: rotateY(180deg);
	z-index: 1;
}

.project-card-back p {
	font-size: 1em;
	padding: 1.25em;
	text-align: center;	
}

.project-links {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


.active-tag {
	color: white;
	transition: all 0.2s linear;
	background-color: rgb(84, 147, 209);
	border: 0.5px transparent rgba(128, 128, 128, 0.1);
}