.title {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 0.75em;
}

.title h1 {
	font-family: 'Inter', sans-serif;
	letter-spacing: 1px;
	color: rgb(3, 3, 79);
	font-size: 2.1rem;
}

.underline {
	height: 0.25rem;
	width: 21rem;
	background-color: rgb(84, 147, 209);
}