@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.stats-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.stats-center-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.4em;
    letter-spacing: 2.5px;
    color: rgb(3, 3, 79);
    text-align: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.stats-underline {
    width: 10em;
    height: 0.15em;
	background-color: rgb(84, 147, 209);
}

.leetcode-stats-div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.85em 0em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 950px;
    background-color: rgba(150, 207, 229, 0.158);
    margin-top: 2.5em;
}


.leetcode-stats-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 0.5em;
}

.stats-star-icon {
    margin-top: 0.3em;
}


.leetcode-stats-title h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: rgb(1, 91, 91);
    font-size: 1.65em;
    padding-right: 1em;
}


.single-leetcode-content-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.75em;
}

.single-leetcode-content-item p {
    color: rgb(1, 91, 91);
    font-size: 1.15em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.65px;
}

.all-leetcode-stats-content {
    margin-left: 2em;
    margin-bottom: 1em;
}

.leetcode-stats-loading-div {
   margin: 1em 2em;
}

.gfg-stats-div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.85em 0em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 950px;
    background-color: rgba(150, 207, 229, 0.158);
    margin-top: 4em;
}

.gfg-stats-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 0.5em;
}

.gfg-stats-title h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: rgb(1, 91, 91);
    font-size: 1.6em;
    padding-right: 1em;
}

.all-gfg-stats-content {
    margin-left: 2em;
    margin-bottom: 1em;
}

.single-gfg-content-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.75em;
}

.single-gfg-content-item p {
    color: rgb(1, 91, 91);
    font-size: 1.15em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.65px;
}

.ach-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}
.ach-center-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.4em;
    letter-spacing: 2.5px;
    color: rgb(3, 3, 79);
    text-align: center;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.ach-underline {
    width: 14em;
    height: 0.15em;
	background-color: rgb(84, 147, 209);
}

.ach-content-div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.85em 0em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 1150px;
    background-color: rgba(150, 207, 229, 0.158);
}

.single-ach-content-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.75em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.single-ach-content-item p {
    color: rgb(1, 91, 91);
    font-size: 1.1em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.65px;
}


.cert-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    padding-bottom: 4em;
}
.cert-center-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.4em;
    letter-spacing: 2.5px;
    color: rgb(3, 3, 79);
    text-align: center;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.cert-underline {
    width: 14em;
    height: 0.15em;
	background-color: rgb(84, 147, 209);
}

.cert-content-div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.85em 0em;
    box-shadow: 0 5px 5px 0 hsla(240,5%,41%,.2);
    width: 1150px;
    background-color: rgba(150, 207, 229, 0.158);
}

.single-cert-content-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.75em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.single-cert-content-item p {
    color: rgb(1, 91, 91);
    font-size: 1.1em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.65px;
}

.piechart-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-left: auto;
    width: 100%;
    margin-top: 2.5em;
}


@media only screen and (max-width:985px){
    .leetcode-stats-div,.gfg-stats-div{
        width: 850px;
    }
}

@media only screen and (max-width:885px){
    .leetcode-stats-div,.gfg-stats-div {
        width: 750px;
    }
}

@media only screen and (max-width:780px){
    .leetcode-stats-div,.gfg-stats-div {
        width: 650px;
    }
}

@media only screen and (max-width:680px){
    .leetcode-stats-div,.gfg-stats-div {
        width: 550px;
    }
    .piechart-content {
        height: 170px;
    }
}

@media only screen and (max-width:575px){
    .leetcode-stats-div,.gfg-stats-div {
        width: 450px;
    }
    .piechart-content {
        height: 140px;
    }
    .single-leetcode-content-item p,.single-gfg-content-item p {
        font-size: 1.1em;
    }
}

@media only screen and (max-width:480px){
    .leetcode-stats-div, .gfg-stats-div {
        width: 350px;
    }
    .piechart-content {
        height: 110px;
        margin-bottom: 30px
    }
    .single-leetcode-content-item p, .single-gfg-content-item p {
        font-size: 1em;
    }
    .leetcode-stats-title h2, .gfg-stats-title h2 {
        font-size: 1.4em;
    }
}

@media only screen and (max-width:380px){
    .leetcode-stats-div, .gfg-stats-div {
        width: 270px;
    }
    .piechart-content {
        height:100px;
        margin-bottom: 30px
    }
    .single-leetcode-content-item p, .single-gfg-content-item p {
        font-size: 0.85em;
    }
    .all-leetcode-stats-content, .all-gfg-stats-content {
        margin-right: 30px;
    }
    .leetcode-stats-title h2, .gfg-stats-title h2 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width:290px){
    .leetcode-stats-div, .gfg-stats-div {
        width: 220px;
    }
    .piechart-content {
        height:90px;
        margin-bottom: 30px
    }
    .single-leetcode-content-item p, .single-gfg-content-item {
        font-size: 0.8em;
    }
    .all-leetcode-stats-content, .all-gfg-stats-content {
        margin-right: 40px;
    }
    .leetcode-stats-title h2, .gfg-stats-title h2 {
        font-size: 1.15em;
    }
}


/* //// */

@media only screen and (max-width:1180px) {
    .ach-content-div,.cert-content-div {
        width: 1000px;
    }
}

@media only screen and (max-width:1030px) {
    .ach-content-div,.cert-content-div {
        width: 900px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 1.05em;
    }
}

@media only screen and (max-width:930px) {
    .ach-content-div, .cert-content-div {
        width: 800px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 1em;
    }
}

@media only screen and (max-width:830px) {
    .ach-content-div, .cert-content-div {
        width: 700px;
    }
}

@media only screen and (max-width:730px) {
    .ach-content-div, .cert-content-div {
        width: 600px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 0.95em;
    }
}

@media only screen and (max-width:630px) {
    .ach-content-div, .cert-content-div {
        width: 500px;
    }
}

@media only screen and (max-width:530px) {
    .ach-content-div, .cert-content-div {
        width: 400px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 0.91em;
    }
    .ach-center-title h2, .cert-center-title h2 {
        font-size: 1.35em;
    }
    .ach-underline, .cert-underline {
        width: 12em;
    }
}

@media only screen and (max-width:430px) {
    .ach-content-div, .cert-content-div {
        width: 300px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 0.88em;
    }
    .ach-center-title h2, .cert-center-title h2 {
        font-size: 1.20em;
    }
    .ach-underline, .cert-underline {
        width: 11em;
    }
}

@media only screen and (max-width:330px) {
    .ach-content-div, .cert-content-div {
        width: 250px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 0.87em;
    }
    .ach-center-title h2, .cert-center-title h2 {
        font-size: 1.05em;
    }
    .ach-underline, .cert-underline {
        width: 9.5em;
    }
}

@media only screen and (max-width:280px) {
    .ach-content-div, .cert-content-div {
        width: 220px;
    }
    .ach-content-div p , .cert-content-div p{
        font-size: 0.85em;
    }
    .ach-center-title h2, .cert-center-title h2 {
        font-size: 0.9em;
    }
    .ach-underline, .cert-underline {
        width: 8.5em;
    }
}

@media only screen and (max-width:240px) {
    .ach-content-div, .cert-content-div {
        width: 190px;
    }
    .ach-content-div p, .cert-content-div p {
        font-size: 0.75em;
    }
    .ach-center-title h2, .cert-center-title h2 {
        font-size: 0.75em;
    }
    .ach-underline, .cert-underline {
        width: 7em;
    }
}